# --- Framework principal ---
fastapi==0.68.1
uvicorn[standard]==0.15.0

# --- Base de datos ---
SQLAlchemy==1.4.22
psycopg2-binary==2.9.9

# --- Validaciones y schemas ---
pydantic==1.8.2

# --- Seguridad / Auth ---
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.0

# --- Variables de entorno ---
python-dotenv==0.19.1

# --- Archivos y formularios ---
python-multipart==0.0.5

# --- Utilidades ---
email-validator==1.1.3
